/* styles.css */
:root {
  --background-color: #c6d8ff;
  --fill-color: #71a9f7;
  --border-color: #72195a;
  --shadow-color: #6b5ca5;
  --other-color: #4c1036;
  --content-width: 970px;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  #hamster-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: fit-content;
    border: 5px solid var(--border-color);
    /* box-shadow: -30px 0 9000px var(--border-color); */
    margin: 10px;
    border-radius: 10px;
    background-color: var(--fill-color);
    animation: box-shadow-color-change 8s infinite; /* Lade till infinite för att upprepa animationen */
  }
  
  @keyframes box-shadow-color-change {
    0%, 100% {
      box-shadow: 0px 0 9000px #4c1036;
    } 
    20% {
      box-shadow: 0px 0 1000px #6b5ca5;
    } 
    40% {
      box-shadow: 0px 0 9000px #72195a;
    } 
    60% {
      box-shadow: 0px 0 400px #6b5ca5;
    } 
    80% {
      box-shadow: 0px 0 9000px #72195a;
    }
  }
  
  .hamster-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 8px;
    background-color: var(--background-color);
  }

  .hamster-card:hover {
    box-shadow: 0 0 20px var(--other-color);
    background-color: #d5e1fc ;
    transition: box-shadow 0.3s, background-color 1.5s;
  }

  .score-container {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .score-container h3{
  padding: 10px ;
  font-weight: 300;
  }

  .hamster-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--fill-color);
    box-shadow: 0 0 3px var(--fill-color);
  }
  
  #add-hamster-form {
    width: var(--content-width);
    height: 400px;
    /* border: 1px solid var(--border-color); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
  }

  #add-hamster-form input {
    height: 22px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ffffff, var(--background-color)); /* Gradient för bakgrundsfärg */
  border: 5px solid transparent; /* Transparent gräns */
  border-image: linear-gradient(to right, var(--other-color), var(--background-color)) 1; /* Gradient för gräns */
  border-image-slice: 1
  }

  #add-hamster-form button {
    text-transform: uppercase;
    align-self: center;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 17px;
    border: 3px solid var(--other-color);
    background-color: var(--background-color);
  }

  #add-hamster-form button:active {
    background-color: var(--border-color);
    color: white;
  }

  #hamster-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: var(--content-width);
    background-color: var(--fill-color);
    border-radius: 10px;    
  }

  .hamster-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 8px;
    background-color: var(--background-color);
  }
  .hamster-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .delete-button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    width: 80px;
    border-radius: 8px;
    font-size: 37px;
    background-color: #71a9f7;
    border: 0px;
    padding-bottom: 5px;
  }

  .delete-button:hover {
    background-color: red;
  }
  